/*==================================================
  RESET
==================================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*==================================================
  DOCUMENT
==================================================*/

body {
  margin: 0;
  overflow-x: hidden;

  background: var(--bg);
  color: var(--amber);

  font-family: var(--font-main);
}

/*==================================================
  VIEWER
==================================================*/

.viewer {
  position: relative;
  min-height: 100vh;
}

/*==================================================
  APPLICATION
==================================================*/

.app {
  position: relative;
  z-index: 2;
}

/*==================================================
  FEED
==================================================*/

.feed {
  width: min(var(--feed-width), 88vw);

  margin: 0 auto;

  padding:
    18px
    0
    90px;
}