@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;500;600;700&family=Saira:wght@400;500;600&display=swap");

:root {
  --bg: #020204;

  --energy-0: #120202;
--energy-1: #240404;
--energy-2: #340606;
--energy-3: #5a0907;
--energy-4: #8a100c;
--energy-5: #b01814;
--energy-6: #ff3828;
--energy-7: #ff6a28;
--energy-8: #ff8a34;
--energy-9: #ffc060;
--energy-10: #fff3d6;

  --feed-width: 760px;
  --feed-unit: 118px;
  --feed-gap: 8px;

  --font-main: "Saira", Arial, Helvetica, sans-serif;
  --font-display: "Saira Condensed", Arial, Helvetica, sans-serif;
}
